@{
    ViewBag.Title = "Welcome";
}
@*If I needed page specific css, i can
    add it to the Head element*@
@*  @section head
    {
        <link href="thisIsATestAndNotGonnaWork.css"
              rel="stylesheet" />
    }*@

<p>
    This is the class website.
    It's gonna get better
</p>